/* Hide scrollbars */
body {
    overflow: hidden;
    background-color: #f4f4f4;
  }

/* iframe {
    overflow:hidden; 
    position:fixed; 
    top: -51px; left:0; bottom:0; right:0; 
    width:100%; height:108%; 
    border:none; 
    margin:0; padding:0; 
    overflow:hidden; 
    z-index:999999;
  } */

div {
      width: 320px;
      height: 192px;
      padding: 0;
      overflow: hidden;
}
  
iframe {
      overflow:hidden;
      position:fixed;
      top:-51px;
      left:0;
      bottom:100px;
      right:0;
      width:100%;
      height:107%;
      border:none;
      margin:0;
      padding:0;
      overflow:hidden;
      z-index:999999;
}
/* 
@media screen and (min-device-width: 768px)
  and (max-device-width: 1024px) {
    iframe {
        left: 2.6%;
        top: 62%;
        height: 110%;
        transform: scale(2.4);
        -webkit-transform: scale(2.4);
        -moz-transform: scale(2.4);
        -ms-transform: scale(2.4);
        -o-transform: scale(2.4);
    }
}

@media screen and (min-device-width: 425px) {
    iframe {
        left: 2.2%;
        top: 12%;
        height: 110%;
        transform: scale(1.37);
        -webkit-transform: scale(1.37);
        -moz-transform: scale(1.37);
        -ms-transform: scale(1.37);
        -o-transform: scale(1.37);
    }
}
  
@media screen and (max-device-width: 375px) {
    iframe {
        left: 2.65%;
        top: 2%;
        transform: scale(1.172);
        -webkit-transform: scale(1.172);
        -moz-transform: scale(1.172);
        -ms-transform: scale(1.172);
        -o-transform: scale(1.172);
}
}

@media screen and (max-device-width: 320px) {
    iframe {
        top: -2%;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
}
 */

 @media only screen and (min-width: 600px) {
    html {
      zoom: .8;
    }
  }

  @media only screen and (min-width: 800px) {
    html {
      zoom: .9;        
    }
  }

  @media only screen and (min-width: 1000px) {
    html {
      zoom: 1;
    }
  }